/* 
----------------- Variables ---------------------------
*/
:root {
  --primaryColor: #832232;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

/* 
----------------- Global Styles ---------------------------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  color: var(--primaryColor);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
h3 {
  font-size: 2rem;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--mainTransition);
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--offWhite);
}
/* 
---------------------- main navbar --------------------------
*/
.main-nav {
  background: var(--darkGrey);
  padding: 0 2rem;
}
.main-nav li {
  list-style-type: none;
}
.main-nav a {
  text-transform: capitalize;
  color: var(--primaryColor);
  display: block;
  padding: 1rem 0;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.main-nav a:hover {
  color: var(--mainBlack);
}
@media screen and (min-width: 992px) {
  .main-nav ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
  .main-nav a {
    text-align: center;
  }
}
.path {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(175, 175, 175, 0.5),
      rgba(175, 175, 175, 0.5)
    ),
    url(./setup-files/images/image-3.jpeg) center/cover no-repeat fixed;
}
/* 
----------------------- hero project ---------------------------
*/
.hero-header {
  display: grid;
  justify-content: center;
  align-content: center;
  background: linear-gradient(rgba(131, 34, 50, 0.75), rgba(131, 34, 50, 0.5)),
    url("./setup-files/images/image-2.jpeg") center/cover no-repeat;
  min-height: 100vh;
  color: var(--mainWhite);
}
.hero-banner {
  text-align: center;
}

.hero-banner p {
  width: 80%;
  max-width: 560px;
  font-size: 1rem;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .hero-banner {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 768px) {
  .hero-header {
    background: linear-gradient(rgba(131, 34, 50, 0.75), rgba(131, 34, 50, 0.5)),
      url("./setup-files/images/image-3.jpeg") center/cover no-repeat fixed;
  }
}

/* 
---------------------- cards project ----------------------------
*/
.title {
  text-align: center;
}
.cards {
  padding: 4rem 0;
}
.card-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
}
.card {
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.card-info {
  padding: 1rem;
}
.card-footer {
  background: var(--darkGrey);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1rem);
  justify-content: space-evenly;
}
.card-footer span {
  color: var(--primaryColor);
}

/* @media screen and (min-width: 768px) {
  .card-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1170px) {
  .card-center {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
} */

.card-center {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc((1170px - 4rem) / 3), 1fr)
  );
  justify-items: center;
}

/* 
-------------------tiles project ------------------------
*/
.tiles {
  padding: 4rem 0;
}
.tiles-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  row-gap: 2rem;
}
@media screen and (min-width: 768px) {
  .tiles-center {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .tiles-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .tiles-center {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  .tiles img {
    height: 100%;
    object-fit: cover;
  }
  .tile-1 {
    grid-area: a;
  }
  .tile-2 {
    grid-area: b;
  }
  .tile-3 {
    grid-area: c;
  }
  .tile-4 {
    grid-area: d;
  }
  .tile-5 {
    grid-area: e;
  }
  .tile-6 {
    grid-area: f;
  }
  .tile-7 {
    grid-area: g;
  }
  .tile-8 {
    grid-area: h;
  }
  .tile-9 {
    grid-area: i;
  }
}
