/* 
----------------- Variables ---------------------------
*/
:root {
  --primaryColor: #832232;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

/* 
----------------- Global Styles ---------------------------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  color: var(--primaryColor);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
h3 {
  font-size: 2rem;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--mainTransition);
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--offWhite);
}
/* 
---------------------- main navbar --------------------------
*/
.main-nav {
  background: var(--darkGrey);
  padding: 0 2rem;
}
.main-nav li {
  list-style-type: none;
}
.main-nav a {
  text-transform: capitalize;
  color: var(--primaryColor);
  display: block;
  padding: 1rem 0;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.main-nav a:hover {
  color: var(--mainBlack);
}
@media screen and (min-width: 992px) {
  .main-nav ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
  .main-nav a {
    text-align: center;
  }
}
.path {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(175, 175, 175, 0.5),
      rgba(175, 175, 175, 0.5)
    ),
    url(./setup-files/images/image-3.jpeg) center/cover no-repeat fixed;
}
